<h1>DragQueen#show</h1>
<p>Find me in app/views/drag_queen/show.html.erb</p>

<h2><%= @dragqueen.name %></h2>

<p><%= @dragqueen.description %></p>

<p><%= link_to 'Delete', drag_queen_path(@dragqueen), method: :delete %></p>